{% extends "base.html" %}
{% block content %}
<h2>{{ "Nuevo Producto" if modo=="crear" else "Editar Producto" }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.nombre.label }} {{ form.nombre(class="form-control") }}</div>
    <div class="mb-3">{{ form.cantidad.label }} {{ form.cantidad(class="form-control") }}</div>
    <div class="mb-3">{{ form.precio.label }} {{ form.precio(class="form-control") }}</div>
    <div class="mb-3">{{ form.categoria_id.label }} {{ form.categoria_id(class="form-select") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
