{% extends "base.html" %}
{% block content %}
<h1>{% if modo == 'nuevo' %}Nuevo Producto{% else %}Editar Producto{% endif %}</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.nombre.label }}<br>{{ form.nombre(size=40) }}</p>
    <p>{{ form.cantidad.label }}<br>{{ form.cantidad() }}</p>
    <p>{{ form.precio.label }}<br>{{ form.precio() }}</p>
    <p>{{ form.categoria_id.label }}<br>{{ form.categoria_id() }}</p>
    <p>{{ form.submit() }}</p>
</form>

<a href="{{ url_for('listar_productos') }}">Volver a la lista</a>
{% endblock %}
