{% extends "base.html" %}
{% block content %}
<h1>Clientes</h1>
<a href="{{ url_for('nuevo_cliente') }}">Nuevo Cliente</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Dirección</th>
    </tr>
    {% for c in clientes %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.correo }}</td>
        <td>{{ c.telefono }}</td>
        <td>{{ c.direccion }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
