{% extends "base.html" %}
{% block content %}
<h1>{% if modo == 'nuevo' %}Nuevo Usuario{% else %}Editar Usuario{% endif %}</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.nombre.label }}<br>{{ form.nombre(size=40) }}</p>
    <p>{{ form.correo.label }}<br>{{ form.correo(size=40) }}</p>
    <p>{{ form.contraseña.label }}<br>{{ form.contraseña() }}</p>
    <p>{{ form.rol.label }}<br>{{ form.rol() }}</p>
    <p>{{ form.submit() }}</p>
</form>

<a href="{{ url_for('listar_usuarios') }}">Volver a la lista</a>
{% endblock %}
