{% extends "base.html" %}
{% block content %}
<h2>{{ "Nuevo Usuario" if modo=="nuevo" else "Editar Usuario" }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.nombre.label }} {{ form.nombre(class="form-control") }}</div>
    <div class="mb-3">{{ form.correo.label }} {{ form.correo(class="form-control") }}</div>
    <div class="mb-3">{{ form.contraseña.label }} {{ form.contraseña(class="form-control") }}</div>
    <div class="mb-3">{{ form.rol.label }} {{ form.rol(class="form-select") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}

